.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}


/* hero section */

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
}

.hero-details {
    display: flex;
}

.hero-details ul a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

.btn1 {
    border-radius: 4px;
    border-color: #469165;
    padding: 12px 16px;
    background-color: #469165;
    color: #ffffff;
    cursor: pointer;
}

.btn1:hover {
    background-color: #000000;
}

/* hero section */

/* hero banner */
.hero-banner {
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.early-access {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    padding: 134px 341px;
}

.hero-head {
    font-size: 72px;
}

.highlighter1 {
    color: #e7e7e7;
}

.highlighter2 {
    color: rgba(48, 184, 104, 1);
}

.hero-para {
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}

.btn2 {
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: transparent;
    color: white;
    padding: 12px 16px;
    cursor: pointer;
}

.btn2:hover {
    color: #a62828;
}


/* section two notes */

.notes-header {
    margin: 0 auto;
    max-width: 1200px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.notes-header h1 {
    font-size: 48px;
}

.notes-header p {
    margin: 0 auto;
    font-size: 16px;
}

.card-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 24px;
    margin-left: 120px;
    margin-right: 120px;
}

.icon-deco {
    background-color: #a62828;
    border-radius: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-info {
    background-color: #ffffff;
    border: 1px solid #eee;
    border-radius: 12px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-head {
    font-size: 24px;
    margin: 0 0 10px 0;
}



/* brain-solution */

.solution-section {
    padding: 120px 120px 120px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.sol-checklist {
    gap: 20px;
}

.sol-checklist ul {
    list-style: none;
    padding: 0;
    gap: 16px;
}

.check {
    display: flex;
    align-items: center;
    gap: 12px;

}

.check img {
    width: 24px;
    height: 24px;
}

.check h6 {
    margin: 0;
    font-size: 16px;
}

.sol-checklist p {
    font-size: 16px;
    color: rgba(98, 115, 130, 1);
}

.sol-checklist h1 {
    font-size: 48px;
}

.highlighter3 {
    columns: rgb(31, 2, 2);
    font-size: 16px;
}


.board-learner {
    border: 2px solid black;
    border-radius: 12px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 120px;
    margin-right: 120px;
    border-color: rgba(247, 246, 242, 1);
    background: rgba(247, 246, 242, 1);
}

.think-more h1 {
    font-size: 40px;
}

.think-more p {
    font-size: 16px;
    color: rgba(98, 115, 130, 1);
}


/* footer-section */

.footer-section {
    background-color: rgba(0, 25, 49, 1);
    /* margin: 0 auto; */
    margin-top: 80px;
    width: 100;
}

.footer-design {
    display: flex;
    justify-content: space-between;
    padding: 60px 120px 30px 120px;
    align-items: center;
    text-align: center;
}

.footer-head {
    color: #e7e7e7;
    font-size: 20px;
    margin: 0;
}

.footer-icon{
    display: flex;      
    gap: 15px; 
    margin: 0;   
    margin-top: 10px;      
    align-items: center;
}

.footer-icon img{
    cursor: pointer;
}

.footer-para {
    color: #e7e7e7;
}

.footer-footer {
    justify-content: space-between;
    padding: 0 120px 30px;
    align-items: center;
    text-align: center;
    margin: 0;
}

.footer-footer hr {
    border: 1px solid rgba(229, 231, 235, 1);
    opacity: 0.2;
}